{% load static %}
<nav class="navbar">
    <div>
        <img src="{% static 'images/logo.png' %}" alt="Logo Ambitech" class="logo">
    </div>
    <ul>
        <li><a href="https://ambitech.com.br" target="_blank">Sobre nós</a></li>
        <li><a href="#">Planos</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="{% url 'atualizacoes' %}">Atualizações</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login_edd' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
