/* Estilos globais */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Garante que o body ocupe exatamente a altura da viewport */
    overflow: hidden; /* Impede o scroll */
}

/* Container do login */
.login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título */
.login-container h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333333;
}

/* Estilização do grupo de inputs */
.input-group {
    margin-bottom: 1.2rem;
    text-align: left;
}

/* Rótulo */
.input-group label {
    font-size: 0.9rem;
    color: #555555;
    margin-bottom: 0.5rem;
    display: block;
}

/* Campos de entrada */
.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333333;
    box-sizing: border-box;
}

/* Estilo para campos com foco */
.input-group input:focus {
    border-color: #00bb74;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 187, 116, 0.5);
}

/* Botão de login */
.login-btn {
    background-color: #00bb74;
    color: #ffffff;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-btn:hover {
    background-color: #008854;
}

/* Responsivo */
@media (max-width: 768px) {
    .login-container {
        padding: 1.5rem;
    }
}
